<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=logout" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js CDN -->
    </head>
    <body>
        <nav>
            <p>Tally Trail</p>
            <button onclick="logout()">
                <span class="material-symbols-outlined">logout</span>
            </button>
        </nav>
        <div class="main-container">
            <div class="graph-container">
                <canvas id="spending-graph"></canvas>
                <canvas id="balance-graph"></canvas>
                <canvas id="income-graph"></canvas>
            </div>
            <div class="search-container">
                <input type="text" id="search-input" oninput="filterTable()" placeholder="Search by name or description">
            </div>
            <table>
                <thead>
                    <th data-column="date" onclick="sortTable(this)">Date</th>
                    <th>Transaction</th>
                    <th data-column="amount" onclick="sortTable(this)">Amount $</th>
                    <th>Description</th>
                    <th>Actions</th>
                </thead>
                <tbody id="transaction-table">
                </tbody>
            </table>
        </div>

        <!-- Floating Action Button -->
        <button class="floating-action-button" onclick="openModal()">+</button>
        <!-- Transaction Modal -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <form action="/add_transaction" method="POST" id="transaction-form">
                    <label for="date">Date and Time:</label>
                    <input type="date" id="date" name="date" required>
                    
                    <label for="name">Transaction Name:</label>
                    <input type="text" id="name" name="name" maxlength="64">
                    
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" required>

                    <label for="description">Description</label>
                    <textarea id="description" name="description" maxlength="256"></textarea>
                    
                    <button type="submit">Add Transaction</button>
                </form>
            </div>
        </div>
        <footer>
            <p>&copy; 2024 TallyTrail. All rights reserved.</p>
            <a href="https://github.com/MdTanjeemHaider/TallyTrail">GitHub</a>
        </footer>
    </body>
</html>