<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login/Register</title>
        <link rel="stylesheet" href="css/loginregister.css">
    </head>
    <body>
        <div class="profile-container">
            <h1>PROFILE GOES HERE</h1>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div class="graph-container">
            <h1> GRAPH OF SPENDING GOES HERE</h1>
            <h1> GRAPH OF TOTAL GOES HERE</h1>
            <h1> GRAPH OF INCOME GOES HERE</h1>
        </div>
        <table>
            <tr>
                <th>Date</th>
                <th>Transaction</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
            <tr>
                <td>Nov 25, 2024</td>
                <td>Netflix</td>
                <td>10.00</td>
                <td>Reoccuring</td>
                <td><button>🗑️</button></td>
            </tr>
            <tr>
                <td>Nov 25, 2024</td>
                <td>McDonalds</td>
                <td>5.00</td>
                <td>One time</td>
                <td><button>🗑️</button></td>
            </tr>
        </table>
        <button>Add Transaction</button>
        <footer>
            <p>&copy; 2024 TallyTrail. All rights reserved.</p>
            <a href="https://github.com/MdTanjeemHaider/TallyTrail">GitHub</a>
        </footer>
    </body>
</html>